@using Web.Models
@model IList<Category>
<div class="p-4" style="border-radius:20px;">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
    </div>
    <br />
    <br />
    <div>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Blog Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">#</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        
                         <td>@item.BlogId</td>
                         <td>@item.Name</td>
                         <td><a asp-controller="Category" asp-action="CategoryDetail" asp-route-id="@item.Id">Detail</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
